# Ignore files and Dirs
*.log
*.zip
*.exe
*.gz
*.7z
/**/Firmware
/**/cygwin
/**/nsis*
/**/openocd*
/**/FTDI_Driver
/**/IDE4PLC
/**/usbdriver
/**/local-repo
/**/Linux*
# Own Config file
Config_Installer_CIAA_IDE_Suite.nsh