;##############################################################################
;
; Copyright 2015, Juan Cecconi
;
; This file is part of CIAA IDE.
;
; Redistribution and use in source and binary forms, with or without
; modification, are permitted provided that the following conditions are met:
;
; 1. Redistributions of source code must retain the above copyright notice,
;    this list of conditions and the following disclaimer.
;
; 2. Redistributions in binary form must reproduce the above copyright notice,
;    this list of conditions and the following disclaimer in the documentation
;    and/or other materials provided with the distribution.
;
; 3. Neither the name of the copyright holder nor the names of its
;    contributors may be used to endorse or promote products derived from this
;    software without specific prior written permission.
;
; THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
; IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
; ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
; LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
; CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
; SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
; INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
; CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
; ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
; POSSIBILITY OF SUCH DAMAGE.
;
;##############################################################################

; Copy this file to Config_Installer_CIAA_IDE_Suite.nsh
; and define which sections and files you want to include
;
!define INSTALL_CYGWIN
!define INSTALL_FIRMWARE
!define INSTALL_DRIVERS
!define INSTALL_IDE4PLC
!define INSTALL_LINUX
#!define SKIP_INSTALL_CYGWIN_FILES ; Allows do a small installer without loosing cygwin section, but skipping its files
#!define SKIP_INSTALL_FIRMWARE_FILES ; Allows do a small installer without loosing Firmware section, but skipping its files
!define SKIP_CLONE_FIRMWARE_REPO  ; Allows do a quicker test without loosing Firmware section, but skipping its repo clone
#!define SKIP_INSTALL_DRIVERS_FILES ; Allows do a small installer without loosing Drivers section, but skipping its files
#!define SKIP_INSTALL_IDE4PLC_FILES ; Allows do a small installer without loosing IDE4PLC section, but skipping its files
#!define SKIP_INSTALL_LINUX_FILES ; Allows do a small installer without loosing Linux section, but skipping its files
